body {
    background-color: rgb(197, 197, 164) !important;
}

.box {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoContainer {
    height: 70vh;
    width: 35vw;
    background-color: white;
    border-radius: 1%;
    padding: 20px 15px;
}

.row {
    margin: 0 !important;
}

.heading {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px !important;
}

.addTask {
    padding: 0 !important;
}

.form-control {
    border-radius: 0px !important;
}

.AddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(166, 38, 166);
    margin: 0;
}

.AddButton:hover {
    cursor: pointer;
    background-color: rgb(130, 43, 130);
}

.anslistbox{
padding: 0 !important;
}

.anslist{
    list-style: none;
    padding: 0;
    margin: 0;
}

.ansrow{
    background-color: rgba(188, 177, 177, 0.525);
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 10px;
}
.delbtn{

}